.container {
  width: 300px;
  margin: 10rem auto;
}

.grid {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
}

.reset {
  margin-top: 2rem;
  font-size: 2rem;
  background-color: aquamarine;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
}
p {
  font-size: 2rem;
}
